In [2]:
x = 5
y = 5.7
z = "67"
w = "23.6"

In [3]:
inteiro = int(y)
print(inteiro)

5

In [4]:
fraçao = float(x)
print(inteiro)

5

In [5]:
inteiro = int(z)
print(inteiro)

67

In [6]:
soma = z + w 
print(soma)

6723.6

In [7]:
# em string, essa operação na vdd CONCATENA os termos inteiros

In [8]:
soma = int(z) + float(w)
print(soma)

90.6

In [9]:
w.isdecimal()

False

In [10]:
if not (w.isdecimal()):
    int(w)
else:
    float(w)

ValueError: invalid literal for int() with base 10: '23.6'

In [12]:
frase = str(soma)
print(frase)
print(type(frase))
print(frase + 5)

90.6
<class 'str'>

TypeError: can only concatenate str (not "int") to str